erp-dpp-byo.digiprodpass.com {
    encode gzip
    reverse_proxy frontend:8080

    log {
        output file /data/caddy/access.log
        format console
    }

    tls {
        issuer acme
    }
}

